{% extends 'XarismaBundle:Default:base.html.twig' %}

{% block body %}
    <h1>Customer Order List</h1>

    <table class="records_list table table-hover">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('custorder_show', { 'id': entity.id }) }}">{{ entity.ordernumber }}</a></td>
                <td>{{ entity.accountname }}</td>
                <td>{{ entity.orderdate }}</td>
                <td>{{ entity.orderstatus }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
