{% extends 'XarismaBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>User Details</h1>

    <table class="record_properties" id="table_user">
        <tr>
            <th class='th_label'>Username</th>
            <td>{{ entity.usernameCanonical }}</td>
        </tr>
        <tr>
        <tr>
            <th class='th_label'>e-mail</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th class='th_label'>enabled</th>
            <td> 
                {% if entity.enabled is sameas(true) %}
                    True
                {% else %}
                    False
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class='th_label'>Roles</th>
            <td>
                {% for role in entity.roles %}
                    {{ role ~', '}}
                {% endfor %}    
            </td>
        </tr>
            <td>&nbsp;</td><td>&nbsp;</td>
        </tr>
        <tr>
            <th class='th_label'>First Name</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th class='th_label'>Last Name</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th class='th_label'>Update By</th>
            <td>{{ entity.updateby }}</td>
        </tr>
        <tr>
            <th class='th_label'>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td><td>&nbsp;</td>
        </tr>

        <tr>
            <th class='th_label'>Created</th>
            {% if entity.datecreated.timestamp is defined %}
                <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
            {% else %}
                <td>Null</td>  
            {% endif %}
        </tr>
        <tr>
            <th class='th_label'>Updated</th>
            {% if entity.dateupdated.timestamp is defined %}
                <td>{{ entity.dateupdated|date('Y-m-d H:i:s') }}</td>
            {% else %}
                <td>Null</td>  
            {% endif %}
        </tr>
        <tr>
            <th class='th_label'>Last Login</th>
            {% if entity.lastLogin.timestamp is defined %}
                <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
            {% else %}
                <td>Null</td>  
            {% endif %}
        </tr>

        <tr>
            <th class='th_label'>Deleted</th>
            <td>{{ entity.deleted }}</td>
        </tr>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Back to the list
        </a>
    </li>
    
    {# Display Import and Export links only if user is admin#}
    {% if app.user and is_granted('ROLE_ADMIN') %}    
    <li>
        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
    {% endif %}
</ul>
    
{{ dump(entity) }}    
    
{% endblock %}
